.wrapper {
    max-width: 960px;
    margin-right: 5%;
    margin-left: 5%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

.floatButton {
    background: #75d21a !important;
    border: 1px solid #75d21a !important;
    position: fixed !important;
    right: 20px;
    bottom: 20px;
}

.greenButton {
    background: #75d21a !important;
    border: 1px solid #75d21a !important;
}

.greenButton:hover {
    background: #8fd64a !important;
    border: 1px solid #8fd64a !important;
}

/* Card Styles */

.card-body {
    padding: 5px;
    margin: 5px;
    max-width: 420px;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.card-body h3 {
    margin-bottom: 0px;
}

/* Navbar Rueda de Negocios */

ul#menu li {
    display: inline;
}