.detail h1, h2, h3, h4{
    color:#676668;
}
.detail{
    position: relative;
}
.data h2{
    margin-bottom: 1px;
    font-size: 45px;
}
.geo span{
    margin: 0 4px;
}
.detail p{
    color:#aaa;
}
.flexi{
    display: flex;
    flex-wrap: wrap;
}
.box_detail{
    width:400px;
    flex-grow: 1;
    margin: 0 20px;
}
.event_photo{
    height:80vh;
    background-size: cover;
    background-position: center;
    background-image: url('https://images.pexels.com/photos/669615/pexels-photo-669615.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}
.date{
    margin: 50px 0 0 0 ;
    font-size: 20px;
}
.date h3{
    margin-bottom: 0;
    padding-bottom: 0;
}
.etiqueta{
    background-color: #75d21a;
    color:white;
    border:none;
    padding: 0% 2%;
    position: absolute;
    left: 20px;
    bottom: 0px;
    font-size: 12px;
}

/*Participantes*/
.box_list{
    width:400px;
    flex-grow: 1;
    padding: 0 2%;
}
.ant-tabs-ink-bar{
     background-color:#75d21a !important;

 }
.ant-tabs-nav .ant-tabs-tab-active{
    color:#75d21a !important;
}
.ant-tabs-nav .ant-tabs-tab:hover {
    color:#75d21a !important;}
.ant-tabs-nav .ant-tabs-tab-active::selection{
    color:#75d21a !important;
}
a{
    color:inherit !important;
}
.ant-btn-primary{
    background-color: #75d21a !important;
    border-color:#75d21a !important;
}
.ant-fullcalendar-fullscreen .ant-fullcalendar-month-panel-selected-cell .ant-fullcalendar-month, .ant-fullcalendar-fullscreen .ant-fullcalendar-selected-day .ant-fullcalendar-date{
    background:rgba(117,210,26,.2) !important;
}
.ant-fullcalendar-fullscreen .ant-fullcalendar-month-panel-current-cell .ant-fullcalendar-month, .ant-fullcalendar-fullscreen .ant-fullcalendar-today .ant-fullcalendar-date{
    border-top-color: #75d21a !important;
}
.ant-fullcalendar-fullscreen .ant-fullcalendar-month-panel-selected-cell .ant-fullcalendar-value, .ant-fullcalendar-fullscreen .ant-fullcalendar-selected-day .ant-fullcalendar-value{
    color: #75d21a !important;
}
.ant-radio-button-wrapper-checked{
    color: #75d21a !important;
}
.ant-radio-button-wrapper-checked:first-child{
    border-color:#75d21a !important;
}
.ant-fullcalendar-fullscreen .ant-fullcalendar-month:hover, .ant-fullcalendar-fullscreen .ant-fullcalendar-date:hover{
    background:rgba(117,210,26,.2) !important;
}
.ant-radio-button-wrapper-checked:hover, .ant-radio-button-wrapper-checked{
    border-color:#75d21a !important;
    box-shadow: -1px 0 0 0 #75d21a !important;

}

